<check if="{{ @SESSION.username }}">
  <true>
    <p>Hello, your are "{{ @SESSION.username }}",</p>
  </true>
  <false>
    <p>Hello anonymous,</p>
  </false>
</check>

<p>Session info</p>
<ul>
  <li>SessionID: <span class="code">{{ session_id() }}</span></li>
  <li>Roles: <span class="code">{{ json_encode(@SESSION.roles) }}</span></li>
  <li>Expires At: <span class="code">{{ date("Y-m-d H:i:s", @SESSION.expire) }}</span></li>
</ul>
<p>Here are some links:</p>
<ul>
  <li><a href="{{ 'login' | alias }}">Login</a><br /></li>
  <li><a href="{{ 'logout' | alias }}">Logout</a><br /></li>
  <li><a href="{{ 'page', '*=private' | alias }}">Private page</a><br /></li>
  <li><a href="{{ 'page', '*=error' | alias }}">Error page</a><br /></li>
  <li><a href="{{ 'admin' | alias }}">Admin</a><br /></li>
</ul>
